<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin2</title>
    <link href="css/tin_2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
    <div class="wrapper-body">
        <!-- phần đầu         -->
        <header class="header">
            <nav class="header_icon">
                <img class="img-header" src="image/icon_top.jpg">
            </nav>
            <nav class="header_menu">
                <ul class="header_ul">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/gioithieu">Giới thiệu</a></li>
                    <li class="dropdown"><a href="/chuongtrinhhoc">Chương trình học</a>
                        <ul class="kid">
                            <li><a href="/hoctienganh">Chương trình học tiếng anh</a></li>
                            <li><a href="/hockynangsong">Chương trình kỹ năng sống</a></li>
                            <li><a href="/hocamnhac">Chương trình học âm nhạc</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="/tuyensinh">Tuyển sinh</a>
                        <ul class="kid">
                            <li><a href="/tuvan">Đăng kí tư vấn</a></li>
                        </ul>
                    </li>
                    <li><a href="/tintuc">Tin tức</a></li>
                    <li><a href="/lienhe">Liên hệ</a></li>
                    <li class="flat"><img src="image/ico_lang_vie.svg" alt=""></li>
                    <li class="flat"><img src="image/ico_lang_en.svg" alt=""></li>
                </ul>
            </nav>
            <button class="btn-submit header">
                <span class="submit_form"><a href="/admin">Admin</a></span>
            </button>
        </header>
        <!-- phần thân -->
        <div class="center">
            <div class="center-top">
                <img src="image/background-top.png"></img>
                <div class="page-banner_head">
                    <h1 class="page-title font-bs">Tin Vắng</h1>
                </div>
            </div>
        </div>
        <center>

            <div>
                <h3>School culture</h3>
                <h2>
                    "Little Stars Tuyển Sinh Khóa Học Mùa Xuân 2024: Mở Cửa Đón Học Sinh Tài Năng"
                </h2>
                <p>
                    Thân Tin:
                    Little Stars, trường mầm non và tiểu học nổi tiếng, vừa công bố việc mở cửa tuyển sinh cho khóa học
                    Mùa Xuân 2024. Với mục tiêu tạo ra một môi trường học tập đa dạng và phát triển toàn diện, Little
                    Stars rất hân hạnh chào đón các bậc phụ huynh và học sinh có tiềm năng.
                </p><br>
                <p class="3">November 17, 2023</p>

                <img src="/DoAnThucTap/image/phong2.jpg" alt="">
                <p>TPHCM, ngày 6 tháng 3, 2024 - Trường Little Stars, một trong những trung tâm giáo dục uy tín hàng đầu
                    tại thành phố Hồ Chí Minh, với sứ mệnh phát triển và nuôi dưỡng những tài năng trẻ, hôm nay công bố
                    việc tuyển sinh cho Khóa Học Mùa Xuân 2024.</p>
                <p>Với tiêu chí "Khám phá, Sáng tạo, và Phát triển", trường Little Stars cam kết cung cấp môi trường học
                    tập an toàn, đầy kích thích và chất lượng cho học sinh từ mọi lứa tuổi. Khóa học mùa xuân năm nay sẽ
                    mở cửa đón những học sinh tài năng, đam mê và sẵn lòng khám phá con đường học với tri thức và niềm
                    vui.</p>
                <p>Các khóa học tại Little Stars không chỉ tập trung vào việc truyền đạt kiến thức mà còn khuyến khích
                    học sinh phát triển kỹ năng sống, tư duy sáng tạo và khả năng làm việc nhóm. Với đội ngũ giáo viên
                    giàu kinh nghiệm và nhiệt huyết, học sinh tại Little Stars sẽ được hướng dẫn và chăm sóc một cách
                    tận tâm từng bước trên con đường học tập và phát triển cá nhân.</p>
                <p>Ông Nguyễn Văn A, Hiệu trưởng trường Little Stars, chia sẻ: "Chúng tôi rất vinh dự được chào đón các
                    em học sinh tài năng tham gia vào khóa học mùa xuân năm nay. Chúng tôi cam kết sẽ tạo ra một môi
                    trường học tập tích cực và động viên mỗi học sinh phát triển toàn diện không chỉ về kiến thức mà còn
                    về tư duy và kỹ năng sống."</p>
                <p>Các phụ huynh quan tâm có thể đăng ký tham gia tuyển sinh tại trang web của Little Stars hoặc liên hệ
                    trực tiếp với trường để biết thêm thông tin chi tiết và hướng dẫn đăng ký.</p>
                <p>Với mục tiêu tiếp tục đem lại chất lượng giáo dục hàng đầu và ủng hộ sự phát triển toàn diện cho mỗi
                    học sinh, Little Stars hy vọng sẽ gặp gỡ và chào đón những tài năng tương lai vào gia đình học thuật
                    của mình.</p>
            </div>
        </center>

        <div class="advise">
            <div class="m-contact_inner">
                <div class="form-apply" id="myform">
                    <div class="form-head">
                        <h2 class="title">ĐĂNG KÝ TƯ VẤN</h2>
                        <p>Chúng tôi sẵn sàng lắng nghe và giải đáp mọi thắc mắc <br>của quý phụ huynh và các em học
                            sinh </p>
                    </div>

                    <div class="wpcf7 no-js" id="wpcf7-f324-p209-o1" lang="vi" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/create-new-user" method="post" class="wpcf7-form init" aria-label="Form liên hệ"
                            novalidate="novalidate" data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="324" />
                                <input type="hidden" name="_wpcf7_version" value="5.7.6" />
                                <input type="hidden" name="_wpcf7_locale" value="vi" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f324-p209-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="209" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                            </div>
                            <div class="form-body">
                                <div class="row-form">
                                    <!-- *****************Họ và tên phụ huynh name="nameParent"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="name-adm">
                                            <input size="40" placeholder="Họ và tên phụ huynh"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required m-input-text"
                                                id="name" aria-required="true" aria-invalid="false" value="" type="text"
                                                name="nameParent" />
                                        </span>
                                    </div>
                                    <!--******************Số điện thoại name="phone"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="tel-adm">
                                            <input size="40" placeholder="Số điện thoại"
                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel m-input-text"
                                                id="phone" aria-required="true" aria-invalid="false" value="" type="tel"
                                                name="phone" />
                                        </span>
                                    </div>
                                    <!--*******************email name="email" -->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="email-adm">
                                            <input size="40" placeholder="Email" type='email'
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email m-input-text"
                                                id="email" aria-required="true" aria-invalid="false" value=""
                                                type="email" name="email" />
                                        </span>
                                    </div>
                                </div>
                                <div class="row-form">
                                    <!--**********************Họ và tên của bé name="nameStudent"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="name-be">
                                            <input size="40" placeholder="Họ và tên của bé"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required m-input-text"
                                                id="name-be" aria-required="true" aria-invalid="false" value=""
                                                type="text" name="nameStudent" />
                                        </span>
                                    </div>
                                    <!--**********************Ngày tháng năm name="time"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="date-be">
                                            <input
                                                class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date m-input-text"
                                                id="year" max="2023-09-25" aria-required="true" aria-invalid="false"
                                                value="" type="date" name="time" />
                                        </span>
                                    </div>
                                    <!--**********************Chương trình học name="course"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="program-be">
                                            <select
                                                class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required m-select"
                                                id="program" aria-required="true" aria-invalid="false" name="course">
                                                <option value="">Chọn chương trình học</option>
                                                <option value="Tiếng Anh">Tiếng Anh</option>
                                                <option value="Âm Nhạc">Âm Nhạc</option>
                                                <option value="Kỹ năng sống">Kỹ năng sống</option>
                                            </select></span>
                                    </div>
                                </div>
                                <div class="row-form w100">
                                    <div class="block-input textarea">
                                        <span class="wpcf7-form-control-wrap" data-name="textarea-be">
                                            <textarea cols="40" rows="10"
                                                class="wpcf7-form-control wpcf7-textarea m-textarea" id="content"
                                                aria-invalid="false" placeholder="Lời nhắn gửi đến Little Star"
                                                name="text">
                                            </textarea>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button class="m-btn-submit is-short">
                                    <span class="submit_form">Gửi</span>
                                </button>
                                <!-- <button type="submit" class="btn-submit">Submit</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- phần cuối -->
        <footer>
            <div class="container">
                <div class="row footer">
                    <div class="col-3">
                        <h3>Về chúng tôi</h3></br>
                        <ul class="menu_footer">
                            <ul><a href="/gioithieu">Giới thiệu</a></ul></br>
                            <ul><a href="/chuongtrinhhoc">Chương trình học</a></ul></br>
                            <ul><a href="/tuyensinh">Tuyển sinh</a></ul></br>
                            <ul><a href="/tintuc">Tin tức</a></ul></br>
                            <ul><a href="/lienhe">Liên hệ</a></ul>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3>Liên hệ với chúng tôi</h3></br>
                        <ul class="menu_footer">
                            <ul><a href="#" class="fa fa-map-marker"> Số 1 Hồ Thị Kỷ, P1, Q10, TPHCM</a></ul></br>
                            <ul><a href="#" class="fa fa-address-book"> 1800 0000</a></ul></br>
                            <ul><a href="#" class="fa fa-envelope"> littlestar@gmail.com</a></ul></br>
                            <ul><a href="#" class="fa fa-clock-o"> 8:00 - 17:00</a></ul>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <button class="chatbot-toggler">
            <span class="material-symbols-rounded">mode_comment</span>
            <span class="material-symbols-outlined">close</span>
        </button>
        <div class="chatbot">
            <header>
                <h2>Trợ lý ảo Little Star</h2>
                <span class="close-btn material-symbols-outlined">close</span>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>Xin chào 👋<br>Bạn cần tư vấn về gì?</p>
                </li>
            </ul>
            <div class="chat-input">
                <textarea placeholder="Nhập tin nhắn..." spellcheck="false" required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
        </div>

        <a href="#" class="to-top">
            <i aria-hidden="true">
                <span class="material-symbols-rounded">rocket</span>
            </i>
        </a>
        <script src="js/chucnang.js"></script>
    </div>
</body>

</html>