<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin3</title>
    <link href="css/tin_2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
    <div class="wrapper-body">
        <!-- phần đầu         -->
        <header class="header">
            <nav class="header_icon">
                <img class="img-header" src="image/icon_top.jpg">
            </nav>
            <nav class="header_menu">
                <ul class="header_ul">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/gioithieu">Giới thiệu</a></li>
                    <li class="dropdown"><a href="/chuongtrinhhoc">Chương trình học</a>
                        <ul class="kid">
                            <li><a href="/hoctienganh">Chương trình học tiếng anh</a></li>
                            <li><a href="/hockynangsong">Chương trình kỹ năng sống</a></li>
                            <li><a href="/hocamnhac">Chương trình học âm nhạc</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="/tuyensinh">Tuyển sinh</a>
                        <ul class="kid">
                            <li><a href="/tuvan">Đăng kí tư vấn</a></li>
                        </ul>
                    </li>
                    <li><a href="/tintuc">Tin tức</a></li>
                    <li><a href="/lienhe">Liên hệ</a></li>
                    <li class="flat"><img src="image/ico_lang_vie.svg" alt=""></li>
                    <li class="flat"><img src="image/ico_lang_en.svg" alt=""></li>
                </ul>
            </nav>
            <button class="btn-submit header">
                <span class="submit_form"><a href="/admin">Admin</a></span>
            </button>
        </header>
        <!-- phần thân -->
        <div class="center">
            <div class="center-top">
                <img src="/image/background-top.png"></img>
                <div class="page-banner_head">
                    <h1 class="page-title font-bs">Tin Vắng</h1>
                </div>
            </div>
        </div>
        <center>

            <div>
                <h3>School culture</h3>
                <h2>
                    "Little Stars Tổ Chức Ngày Hội Gia Đình: Kết Nối và Giao Lưu"
                </h2>
                <p>
                    Thân Tin:
                    Little Stars, trường mầm non và tiểu học nổi tiếng,tổ chức ngày hội gia đình 1 sự kiện liên quan tin
                    thần đoàn kết để tăng tính cạnh tranh cũng như tinh thần yêu thương từ mỗi gia đình.
                </p><br>
                <p class="3">jun 17, 2024</p>

                <img src="/DoAnThucTap/image/phong3.jpg" alt="">
                <p>Trường Little Stars, một trong những trung tâm giáo dục hàng đầu tại thành phố Hồ Chí Minh, với cam
                    kết tạo ra không gian giao lưu và kết nối cho cả gia đình học sinh, hôm nay xin thông báo về việc tổ
                    chức Ngày Hội Gia Đình.</p>
                <p>Ngày Hội Gia Đình tại Little Stars không chỉ là một sự kiện vui nhộn và ý nghĩa mà còn là cơ hội để
                    phụ huynh, học sinh và cán bộ nhà trường cùng nhau tương tác, chia sẻ và tạo ra những kỷ niệm đáng
                    nhớ. Sự kiện sẽ được tổ chức vào ngày [ngày/tháng/năm], tại trường Little Stars, với sự tham gia của
                    toàn bộ cộng đồng học sinh và phụ huynh.</p>
                <p>Ngày Hội Gia Đình tại Little Stars sẽ bao gồm nhiều hoạt động thú vị và bổ ích như các trò chơi gia
                    đình, hội thảo về giáo dục, triển lãm tài năng của học sinh, và cơ hội gặp gỡ, giao lưu giữa phụ
                    huynh và giáo viên. Đây là dịp lý tưởng để mọi người cùng nhau tạo ra các mối quan hệ và kết nối
                    mạnh mẽ, cũng như thể hiện tình yêu và ủng hộ đối với sự phát triển của học sinh.</p>
                <p>Bà Nguyễn Thị B, Giám đốc Trung tâm Giáo dục Little Stars, chia sẻ: "Ngày Hội Gia Đình là một cơ hội
                    tuyệt vời để tạo ra một môi trường giao lưu và kết nối cho cả gia đình học sinh. Chúng tôi rất mong
                    chờ được gặp gỡ và chia sẻ niềm vui cùng các phụ huynh và học sinh tại sự kiện này."</p>
                <p>Các phụ huynh quan tâm có thể đăng ký tham gia tuyển sinh tại trang web của Little Stars hoặc liên hệ
                    trực tiếp với trường để biết thêm thông tin chi tiết và hướng dẫn đăng ký.</p>
                <p>Mọi thông tin chi tiết về Ngày Hội Gia Đình tại Little Stars sẽ được cập nhật trên trang web của
                    trường và thông báo trực tiếp cho các phụ huynh và học sinh. Chúng tôi kính mời toàn thể cộng đồng
                    học sinh và phụ huynh tham gia và tận hưởng một ngày vui vẻ và ý nghĩa tại Little Stars.</p>
            </div>
        </center>

        <div class="advise">
            <div class="m-contact_inner">
                <div class="form-apply" id="myform">
                    <div class="form-head">
                        <h2 class="title">ĐĂNG KÝ TƯ VẤN</h2>
                        <p>Chúng tôi sẵn sàng lắng nghe và giải đáp mọi thắc mắc <br>của quý phụ huynh và các em học
                            sinh </p>
                    </div>

                    <div class="wpcf7 no-js" id="wpcf7-f324-p209-o1" lang="vi" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/create-new-user" method="post" class="wpcf7-form init" aria-label="Form liên hệ"
                            novalidate="novalidate" data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="324" />
                                <input type="hidden" name="_wpcf7_version" value="5.7.6" />
                                <input type="hidden" name="_wpcf7_locale" value="vi" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f324-p209-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="209" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                            </div>
                            <div class="form-body">
                                <div class="row-form">
                                    <!-- *****************Họ và tên phụ huynh name="nameParent"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="name-adm">
                                            <input size="40" placeholder="Họ và tên phụ huynh"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required m-input-text"
                                                id="name" aria-required="true" aria-invalid="false" value="" type="text"
                                                name="nameParent" />
                                        </span>
                                    </div>
                                    <!--******************Số điện thoại name="phone"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="tel-adm">
                                            <input size="40" placeholder="Số điện thoại"
                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel m-input-text"
                                                id="phone" aria-required="true" aria-invalid="false" value="" type="tel"
                                                name="phone" />
                                        </span>
                                    </div>
                                    <!--*******************email name="email" -->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="email-adm">
                                            <input size="40" placeholder="Email" type='email'
                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email m-input-text"
                                                id="email" aria-required="true" aria-invalid="false" value=""
                                                type="email" name="email" />
                                        </span>
                                    </div>
                                </div>
                                <div class="row-form">
                                    <!--**********************Họ và tên của bé name="nameStudent"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="name-be">
                                            <input size="40" placeholder="Họ và tên của bé"
                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required m-input-text"
                                                id="name-be" aria-required="true" aria-invalid="false" value=""
                                                type="text" name="nameStudent" />
                                        </span>
                                    </div>
                                    <!--**********************Ngày tháng năm name="time"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="date-be">
                                            <input
                                                class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date m-input-text"
                                                id="year" max="2023-09-25" aria-required="true" aria-invalid="false"
                                                value="" type="date" name="time" />
                                        </span>
                                    </div>
                                    <!--**********************Chương trình học name="course"-->
                                    <div class="block-input">
                                        <span class="wpcf7-form-control-wrap" data-name="program-be">
                                            <select
                                                class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required m-select"
                                                id="program" aria-required="true" aria-invalid="false" name="course">
                                                <option value="">Chọn chương trình học</option>
                                                <option value="Tiếng Anh">Tiếng Anh</option>
                                                <option value="Âm Nhạc">Âm Nhạc</option>
                                                <option value="Kỹ năng sống">Kỹ năng sống</option>
                                            </select></span>
                                    </div>
                                </div>
                                <div class="row-form w100">
                                    <div class="block-input textarea">
                                        <span class="wpcf7-form-control-wrap" data-name="textarea-be">
                                            <textarea cols="40" rows="10"
                                                class="wpcf7-form-control wpcf7-textarea m-textarea" id="content"
                                                aria-invalid="false" placeholder="Lời nhắn gửi đến Little Star"
                                                name="text">
                                            </textarea>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <!-- <button class="m-btn-submit is-short">
                                    <span class="submit_form">Gửi</span>
                                </button> -->
                                <button type="submit" class="btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- phần cuối -->
        <footer>
            <div class="container">
                <div class="row footer">
                    <div class="col-3">
                        <h3>Về chúng tôi</h3></br>
                        <ul class="menu_footer">
                            <ul><a href="gioithieu">Giới thiệu</a></ul></br>
                            <ul><a href="/chuongtrinhhoc">Chương trình học</a></ul></br>
                            <ul><a href="/tuyensinh">Tuyển sinh</a></ul></br>
                            <ul><a href="/tintuc">Tin tức</a></ul></br>
                            <ul><a href="/lienhe">Liên hệ</a></ul>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3>Liên hệ với chúng tôi</h3></br>
                        <ul class="menu_footer">
                            <ul><a href="#" class="fa fa-map-marker"> Số 1 Hồ Thị Kỷ, P1, Q10, TPHCM</a></ul></br>
                            <ul><a href="#" class="fa fa-address-book"> 1800 0000</a></ul></br>
                            <ul><a href="#" class="fa fa-envelope"> littlestar@gmail.com</a></ul></br>
                            <ul><a href="#" class="fa fa-clock-o"> 8:00 - 17:00</a></ul>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <button class="chatbot-toggler">
            <span class="material-symbols-rounded">mode_comment</span>
            <span class="material-symbols-outlined">close</span>
        </button>
        <div class="chatbot">
            <header>
                <h2>Trợ lý ảo Little Star</h2>
                <span class="close-btn material-symbols-outlined">close</span>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>Xin chào 👋<br>Bạn cần tư vấn về gì?</p>
                </li>
            </ul>
            <div class="chat-input">
                <textarea placeholder="Nhập tin nhắn..." spellcheck="false" required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
        </div>

        <a href="#" class="to-top">
            <i aria-hidden="true">
                <span class="material-symbols-rounded">rocket</span>
            </i>
        </a>
        <script src="js/chucnang.js"></script>
    </div>
</body>

</html>